{% extends '::base.html.twig' %}

{% block body %}
	{% for task in tasks %}
		<div class="panel panel-default" id="task{{ task.id }}">
			<div class="panel-heading">
				<h3 class="panel-title">
					{{ task.title }}
					<span class="glyphicon glyphicon-trash pull-right no-display" id="delete{{ task.id }}"></span>
					{% if affichage is defined and affichage == "supprimees" %}
						<span class="glyphicon glyphicon-repeat pull-right no-display" id="restore{{ task.id }}"></span>
					{% endif %}
					{% if affichage is defined and task.done and affichage != "en_attente" %}
						<span class="glyphicon glyphicon-time pull-right no-display" id="unfinish{{ task.id }}"></span>
					{% endif %}
					{% if affichage is defined and not task.done and not (affichage == "supprimees" or affichage == "terminees") %}
						<span class="glyphicon glyphicon-ok pull-right no-display" id="valid{{ task.id }}"></span>
					{% endif %}
					{% if affichage is defined and affichage != "suivies" %}
						<span class="glyphicon glyphicon-star-empty pull-right no-display" id="follow{{ task.id }}"></span>
					{% endif %}
				</h3>
			</div>
			<div class="panel-body">
				{{ task.description }}
			</div>
			{% if task.dueDate %}
				<div class="panel-footer">
					{{ task.dueDate|date('d-m-Y h:i') }}
				</div>
			{% endif %}
		</div>

		<script type="text/javascript">
			$('#delete{{ task.id }}').click(function() {
				$.ajax({
					url: '{{ path("supprimer_tache", {"id" : task.id}) }}',
					dataType: 'json',
					success: function(data)
					{
						$('#task{{ task.id }}').animate({ height: 0, opacity: 0, margin: 0 }, 'slow');
						$.each(data['counter'],function(key, value) {
							if ($('#badge'+key).text() != value) {
								$('#badge'+key).fadeOut(function() {
									$('#badge'+key).html(value).fadeIn();
								});
							}
						});
					}
		        });
			});
		</script>

		{% if affichage is defined and affichage == "supprimees" %}
			<script type="text/javascript">
				$('#restore{{ task.id }}').click(function() {
					$.ajax({
						url: '{{ path("restaurer_tache", {"id" : task.id}) }}',
						dataType: 'json',
						success: function(data)
						{
							$('#task{{ task.id }}').animate({ height: 0, opacity: 0, margin: 0 }, 'slow');
							$.each(data['counter'],function(key, value) {
								if ($('#badge'+key).text() != value) {
									$('#badge'+key).fadeOut(function() {
										$('#badge'+key).html(value).fadeIn();
									});
								}
							});
						}
			        });
				});
			</script>
		{% endif %}

		{% if affichage is defined and not task.done and not (affichage == "supprimees" or affichage == "terminees") %}
			<script type="text/javascript">
				$('#valid{{ task.id }}').click(function() {
					$.ajax({
						url: '{{ path("valider_tache", {"id" : task.id}) }}',
						dataType: 'json',
						success: function(data)
						{
							$('#task{{ task.id }}').animate({ height: 0, opacity: 0, margin: 0 }, 'slow');
							$.each(data['counter'],function(key, value) {
								if ($('#badge'+key).text() != value) {
									$('#badge'+key).fadeOut(function() {
										$('#badge'+key).html(value).fadeIn();
									});
								}
							});
						}
			        });
				});
			</script>
		{% endif %}

		{% if affichage is defined and task.done and affichage != "en_attente" %}
			<script type="text/javascript">
				$('#unfinish{{ task.id }}').click(function() {
					$.ajax({
						url: '{{ path("inachever_tache", {"id" : task.id}) }}',
						dataType: 'json',
						success: function(data)
						{
							$('#task{{ task.id }}').animate({ height: 0, opacity: 0, margin: 0 }, 'slow');
							$.each(data['counter'],function(key, value) {
								if ($('#badge'+key).text() != value) {
									$('#badge'+key).fadeOut(function() {
										$('#badge'+key).html(value).fadeIn();
									});
								}
							});
						}
			        });
				});
			</script>
		{% endif %}

		{% if affichage is defined and not task.followed and affichage != "suivies" %}
			<script type="text/javascript">
				$('#follow{{ task.id }}').click(function() {
					$.ajax({
						url: '{{ path("suivre_tache", {"id" : task.id}) }}',
						dataType: 'json',
						success: function(data)
						{
							$('#follow{{ task.id }}').animate({ height: 0, opacity: 0, margin: 0 }, 'slow');
							$.each(data['counter'],function(key, value) {
								if ($('#badge'+key).text() != value) {
									$('#badge'+key).fadeOut(function() {
										$('#badge'+key).html(value).fadeIn();
									});
								}
							});
						}
			        });
				});
			</script>
		{% endif %}
	{% endfor %}
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		$(function() {
			$('#deleteTasks').click(function() {
				$('.glyphicon-trash').fadeIn();
			});

			{% if affichage is defined and affichage == "supprimees" %}
				$('#restoreTasks').click(function() {
					$('.glyphicon-repeat').fadeIn();
				});
			{% endif %}

			{% if affichage is defined and not (affichage == "supprimees" or affichage == "terminees") %}
				$('#validTasks').click(function() {
					$('.glyphicon-ok').fadeIn();
				});
			{% endif %}

			{% if affichage is defined and affichage != "en_attente" %}
				$('#unfinishTasks').click(function() {
					$('.glyphicon-time').fadeIn();
				});
			{% endif %}

			{% if affichage is defined and affichage != "suivies" %}
				$('#followTasks').click(function() {
					$('.glyphicon-star-empty').fadeIn();
					$('.glyphicon-star').fadeIn();
				});
			{% endif %}
		});
	</script>
{% endblock %}